<h2>Login</h2>
<form method="post" action="/users/login">
<input type="text" required="true" name="username" placeholder="username">
<input type="text" required="true" name="password" placeholder="password">
<button type="submit" name='submit'>Login</button>
</form>